<form class="col-sm-8 text-center">
<div class="form-group">
  <label for="editnom">Nom</label>
  <input type="text" #nom class="form-control" id="nom" placeholder="{{collaborateur.nom}}">
</div>
<div class="form-group">
  <label for="editprenom">Prénom</label>
  <input type="text" #prenom class="form-control" id="prenom" placeholder="{{collaborateur.prenom}}">
</div>
<div class="form-group">
  <label for="editadresse">Adresse</label>
  <input type="text" #adresse class="form-control" id="adresse" placeholder="{{collaborateur.adresse}}">
</div>
<div class="form-group">
  <label for="editcodepostal">Code Postal</label>
  <input type="text" #codePostal class="form-control" id="codepostal" placeholder="{{collaborateur.codePostal}}">
</div>
<div class="form-group">
  <label for="editville">Ville</label>
  <input type="text" #ville class="form-control" id="ville" placeholder="{{collaborateur.ville}}">
</div>
</form>
